.bg-whatsapp {
    background-color: #075e54;
}

.pagination {
    -webkit-box-pack: center !important;
    justify-content: center !important;
}

#accordion {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.drop-down-arrow {
    display: inline-block;
    margin-left: 2%;
    transition: all 0.5s;
}

.card-header.active .drop-down-arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.brand-card-header {
    height: 4rem !important;
}

.dropdown-menu-event {
    position: absolute;
}

.navbar {
    min-height: 55px;
}

.navbar .show {
    margin-top: 2rem;
    padding-bottom: .5rem;
    background-color: white;
}

.navbar .show .ul-user {
    margin-left: 3rem !important;
}

.ul-user .dropdown-menu-right {
    left: auto !important;
}

.navbar .show .ul-user .show .dropdown-menu-right {
    left: 0 !important;
}

.navbar .show .label-event {
    margin-right: 1rem;
}

.dropdown .show {
    margin-top: .5rem;
}

.nav-dropdown-toggle {
    cursor: pointer;
}
