body {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.container-fluid {
    height: 100vh;
    display: flex;
    align-items: center;
}

.text-header {
    color: #ffc400;
    text-shadow: 2px 2px 2px #646464;
    font-weight: bold;
}

.card {
    padding: 5% 0 5% 0;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 15px #cca2a4;
}

.card-title {
    background-color: #cda9ab;
    color: white;
    border-radius: .5rem;
    margin: 0 3rem 0 3rem;
    padding: 1rem 0 1rem 0;
    font-weight: bold;
}

.text-theme {
    color: #ffbb01;
    font-weight: bold;
}

.text-theme-secondary {
    color: #9c9799 ;
}

.input-field {
    border-radius: .8rem;
}

.btn-theme {
    background-color: #ffbb01;
    color: white;
    font-weight: bold;
    padding: .6rem 3rem .6rem 3rem;
}

.voucher-img {
    border-radius: .5rem;
}

.voucher-img-wide {
    width: 100%;
}

.voucher-img-tall {
    width: 30%;
}
