<template>
  <div class="dropdown">
    <button
      class="btn btn-sm btn-info dropdown-toggle"
      type="button"
      id="eventDropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >{{ selectedEvent }}</button>
    <div class="dropdown-menu mt-0" aria-labelledby="eventDropdownMenuButton">
        <a
            v-for="event in events"
            :key="event.id"
            class="dropdown-item cursor-pointer"
            @click="eventSelected(event.id, event.event_code)"
        >{{ event.event_code }}</a>
    </div>
  </div>
</template>

<script>
export default {
    data () {
        return {
            selectedEvent: '',
            events: []
        }
    },
    mounted () {
        axios.get('/api/get-event-list')
            .then(response => {
                response.data.forEach(element => {
                    this.events.push(element)

                    // Get previously selected event from the cookie
                    var cookie = this.getCookie('event');
                    console.log('Cookie: ' + cookie)

                    if (cookie) {
                        this.selectedEvent = cookie
                    } else {
                        this.selectedEvent = this.events[0].event_code
                        document.cookie = 'event=' + this.events[0].event_code
                        document.cookie = 'eventID=' + this.events[0].id
                    }
                })
            })
    },
    methods: {
        getCookie (cname) {
            var name = cname + "="
            var decodedCookie = decodeURIComponent(document.cookie)
            var ca = decodedCookie.split(';')
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i]
                while (c.charAt(0) == ' ') {
                c = c.substring(1)
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length)
                }
            }
            return ""
        },
        eventSelected (eventId, eventCode) {
            document.cookie = 'event=' + eventCode
            document.cookie = 'eventID=' + eventId

            location.reload(true)
        }
    }
}
</script>
