<template>
    <div class="dropdown">
        <button
            class="btn btn-sm btn-success dropdown-toggle"
            type="button"
            id="sourceIdentifierDropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
        >Panels</button>
        <ul class="dropdown-menu mt-0" aria-labelledby="sourceIdentifierDropdownMenuButton">
            <li class="dropdown-item" style="background-color: #F0F0F0">
                <input id="selectAllCheckBox" type="checkbox" v-model="selectAllChecked" @click="selectAllClicked">
                <label for="selectAllCheckBox">Select All</label>
            </li>
            <li
                v-for="sourceIdentifier in sourceIdentifiers"
                :key="sourceIdentifier.code"
                class="dropdown-item"
            >
                <input :id="sourceIdentifier.code" :value="sourceIdentifier.code" type="checkbox" v-model="selectedSourceIdentifiers" />
                <label :for="sourceIdentifier.code">{{ sourceIdentifier.description }}</label>
            </li>
            <li class="text-center pb-1 pt-1">
                <button class="btn btn-primary w-50" @click="applyFilter">Go</button>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            sourceIdentifiers: [],
            selectedSourceIdentifiers: [],
            selectAllChecked: false
        }
    },
    mounted() {
        axios.get("/api/get-source-identifier-list-internal").then(response => {
            response.data.forEach(element => {
                this.sourceIdentifiers.push(element)

                // Get previously selected source identifiers from the cookie
                var cookie = this.getCookie('sourceIdentifierCode');
                console.log('Source Cookie: ' + cookie)

                if (cookie) {
                    this.selectedSourceIdentifiers = cookie.split(',')
                }
            })
        })
    },
    methods: {
        getCookie (cname) {
            var name = cname + "="
            var decodedCookie = decodeURIComponent(document.cookie)
            var ca = decodedCookie.split(';')
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i]
                while (c.charAt(0) == ' ') {
                c = c.substring(1)
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length)
                }
            }
            return ""
        },
        selectAllClicked () {
            if (this.selectAllChecked) {
                this.selectedSourceIdentifiers = []
            } else {
                this.sourceIdentifiers.forEach(element => {
                    if (!this.selectedSourceIdentifiers.includes(element.code)) {
                        this.selectedSourceIdentifiers.push(element.code)
                    }
                })
            }
        },
        applyFilter () {
            document.cookie = 'sourceIdentifierCode=' + this.selectedSourceIdentifiers.toString()

            location.reload(true)
        }
    }
}
</script>
